body {        /* Gorputzaren diseinua egiteko*/
        background-color: #BAE1E0; 
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
}
.container {        /* Kontainerren diseinua egiteko*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.image {        /* Irudien diseinua egiteko*/
        margin-bottom: 20px;
        border-radius: 23px;
}
.comment {        /* Iruzkinen diseinua egiteko*/
        background-color: #4285f4; 
        color: #fff; 
        padding: 10px;
        font-size: 24px;
        position: relative;
        top: -50px; 
}
.button-container {        /* Botoi-kontainerren diseinua egiteko*/
        display: flex;
        justify-content: center;
}
.button {        /* Botoien diseinua egiteko*/
        background-color: #4285f4; 
        color: #fff; 
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 0 10px;
	text-decoration: none;
}
